/* Our default values set for mobile */
:root {
  --color-bg: #9480FF;
  --color-text-main: #2800FF;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;

}

/* Tablet portrait */
@media (min-width: 768px) {
  :root {
    --wrapper-height: 87vh;
    --image-max-width: 400px;
    --image-margin: 5rem;
  }
}

/* Tablet Landscape */
@media (min-width: 1024px) {
  :root {
    --wrapper-height: 87vh;
    --image-max-width: 500px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  :root {
    --wrapper-height: 87vh;
    --image-max-width: 500px;
  }
}

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

.title {
  color: var(--color-text-main);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 105%;
  margin-bottom: 1.5rem;
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin-left: 2rem;
  margin-top: 3rem;
  max-width: 900px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navigation grid */
.navigation {
  display: flex;
  justify-content: flex-end;
}

/* Our remix on glitch button + grid for other actions */
.btn--remix {
  font-family: HK Grotesk;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
}

.btn--remix:hover {
  background-color: #D0FFF1;
}

.btn--remix img {
  margin-right: 0.5rem;
}

.btn--remix {
  margin-right: 1rem;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* our custom color indicator */
div.color-info {
  color: #ffffff;
  margin-bottom: 1.5rem;
}