/* Our CSS values that we'll use in the rest of our styling */
:root {
  --main-bg-color: #69F7BE;
  --main-text-color: #373fff;
}

@font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.com/a9975ea6-8949-4bab-addb-8a95021dc2da%2FHKGrotesk-Regular.otf?v=1602782380076") format("opentype");
}

@font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.com/a9975ea6-8949-4bab-addb-8a95021dc2da%2FHKGrotesk-Bold.otf?v=1602782484249") format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--main-bg-color);
}

.title {
  color: var(--main-text-color);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 164px;
  line-height: 105%;
}

.wrapper {
  min-height: 95vh;
  display: grid;
  place-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Our remix on glitch button + grid for other actions */
.remix {
  display: grid;
  place-items: end;
}

.btn--remix {
  font-family: HK Grotesk;
  padding: .5rem .75rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn--remix img {
  margin-right: .75rem;
}

.illustration {
  max-width: 100%;

}
