<footer class="text-light text-center text-lg-left" style="background-color: #7289da;">
    <div class="footer-copyright text-light text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright © <a class="link-white" href="#"><%= bot.user.username %></a> - All Rights Reserved.
    </div>
</footer>
</body>

</html>